body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #DCDCDC ;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
}
img {
    width: 100%;
    height: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.text-box {
    line-height: 30px;
    height: 30px;
    font-size: 14pt;
    width: 100%;
}

div.for_separation {
}





/*main_header*/

div.main_header {
    position: absolute;
    position: fixed;
    height: 50px;
    background-color: #4169E1;
    width: 100%;
    margin-top: -50px;
}
div.main_header_r_l {
    float: right;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
div.main_header_home {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    height:100%;
}
div.main_header_r_l_but {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height:100%;
}
div.main_header_r_l_but:hover{
    cursor:pointer;
    background-color:aliceblue;
}


/*Layout*/
div.Layout_left_menu {
    background-color: aqua;
    width: 200px;
    height: 600px;
    position: fixed;
    
}
div.Layout_body{
    width:800px;
    margin-left:230px;
   
    height:1030px;
    
}
div.Layout_all_l_b {
    margin-left: 10%;
    margin-top: 10px;
    width:1100px;
}

/*Personal_record*/

div.Personal_record_main_img_div {
   
    width: 300px;
    height: 350px;
   
    background-color: aquamarine; /*убрать*/
    
    
}
div.Personal_record_main_img_lvl_1_div {
    width: 350px;
    height: 450px;
    background-color: white;
    padding-top: 25px;
    padding-left: 25px;
}

div.Personal_record_body_left_block {
    width: 350px;
    height: 900px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}
div.Personal_record_body_right_block {
    width: 430px;
    height: 900px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-left:10px;
}
div.Personal_record_edit_under_main_img{
    background-color:white;
    border:solid 2px;
    margin-top:20px;
}
div.Personal_record_main_info_1{
    height:400px;
    background-color:antiquewhite;
}

div.Personal_record_body_right_block_info_main {
    background-color: white;
}
div.Personal_record_photo_block{
    height:300px;
}
div.Personal_record_wall {
    height: 300px;
}
div.Personal_record_num {
    height: 100px;
    margin-left:2px;
    text-align:center;
}
.Personal_record_num_div_small_block {
   display:inline-block;
   vertical-align:top;
   width:82px;
   height:50px;
   border:1px solid black;
}
.Personal_record_num_p_big {
    font-size: 14pt;
    color: darkcyan;
    margin: 0;
    padding: 0;
}
.Personal_record_num_p_small {
    font-size: 9pt;
    color: #B8860B;
    margin: 0;
    padding: 0;
}