body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #DCDCDC ;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
}
.link_standart_for_circle_30_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    border-radius: 30px;
}
.link_standart_for_circle_50_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    border-radius: 50px;
}


img {
    width: 100%;
    height: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.text-box {
    line-height: 30px;
    height: 30px;
    font-size: 14pt;
    width: 100%;
}

div.for_separation {
}


div.div_color_white{
    background-color:white;
}


div.Memes_under_block_small{
    width:70px;
    height:30px;
}










/*main_header*/
div.main_header {
    position: absolute;
    position: fixed;
    height: 50px;
    background-color: #4169E1;
    width: 100%;
    margin-top: -50px;
}
div.main_header_r_l {
    float: right;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
div.main_header_home {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    height:100%;
}
div.main_header_r_l_but {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height:100%;
}
div.main_header_r_l_but:hover{
    cursor:pointer;
    background-color:aliceblue;
}

/*Left_menu_personal*/
div.Left_menu_personal_up_block {
    height: 100%;
    padding-top: 150px;
    width: 50%;
    transition:2s;
}
    div.Left_menu_personal_up_block:hover {
        
        background-color: #F0FFF0;
        cursor:pointer;
        
    }
        div.Left_menu_personal_up_block:hover div.Left_menu_personal_up_block_inscription {
            visibility:visible;
        }
        div.Left_menu_personal_up_block_inscription{
    visibility:hidden;
}
/*Layout*/
div .Layout_left_menu {
    width: 200px;
    position: fixed;
    height: 1000px;
}
div.Layout_left_menu_up {
    background-color: aqua;


}div.Layout_body {
    width: 800px;
    margin-left: 230px;
}
div.Layout_all_l_b {
    margin-left: 10%;
    margin-top: 10px;
    width:1100px;
}

/*Personal_record*/
div.Personal_record_one_group {
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 10px;
    height: 100px;
    
}
div.Personal_record_group_info_block {
    
    width: 270px;
    display: inline-block;
    vertical-align: top;
}
div.Personal_record_group_img_block {
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    
    /*убрать*/
    


    width: 60px;
    height: 60px;
}
 div.Personal_record_groups_block_all {
    margin-top: 30px;
}div.Personal_record_one_line_friend {
    margin-top: 10px;
}div.Personal_record_friend_all_block {
    margin-top: 30px;
}
div.Personal_record_one_friend_img {
    width: 100px;
    height: 100px;
    
    border-radius: 50px;
}
div.Personal_record_one_friend_block {
    width: 100px;
    height: 120px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
    
}div.Personal_record_main_img_div {
    width: 300px;
    height: 350px;
    background-color: aquamarine; /*убрать*/
}
div.Personal_record_main_img_lvl_1_div {
    width: 350px;
    height: 500px;
    background-color: white;
    padding-top: 25px;
    padding-left: 25px;
}

div.Personal_record_body_left_block {
    width: 350px;
    
    
    display: inline-block;
    vertical-align: top;
}
div.Personal_record_body_right_block {
    width: 430px;
    
    
    display: inline-block;
    vertical-align: top;
    margin-left:10px;
}
div.Personal_record_edit_under_main_img{
    background-color:white;
    border:solid 2px;
    margin-top:20px;
}
div.Personal_record_main_info_1{
    
}

div.Personal_record_body_right_block_info_main {
    background-color: white;
    margin-top:-20px;
}
div.Personal_record_photo_block{
    margin-top:30px;
    height:120px;
}
div.Personal_record_wall {
    margin-top: 30px;
    /*height: 300px;*/
    background-color: #DCDCDC;
}
div.Personal_record_num {
    height: 100px;
    margin-left:2px;
    text-align:center;
}
.Personal_record_num_div_small_block {
   display:inline-block;
   vertical-align:top;
   width:82px;
   height:50px;
   border:1px solid black;
}
.Personal_record_num_p_big {
    font-size: 14pt;
    color: darkcyan;
    margin: 0;
    padding: 0;
}
.Personal_record_num_p_small {
    font-size: 9pt;
    color: #B8860B;
    margin: 0;
    padding: 0;
}
div.Personal_record_not_main_img_small{
    width:80px;
    height:100px;
    margin-left:2px;
    display:inline-block;
    vertical-align:top;
}
/*Get_info_person_ajax_1*/
div.Get_info_person_ajax_1_div_all {
    padding-left: 10px;
}
div.Get_info_person_ajax_1_div_1_info {
    min-height: 20px;
}
div.Get_info_person_ajax_1_p_left {
    color: grey;
    width: 120px;
    display: inline-flex;
    vertical-align: top;
}
div.Get_info_person_ajax_1_p_right {
    color: cornflowerblue;
    display: inline-flex;
    vertical-align: top;
    width: 300px;
}
div.Get_info_person_ajax_1_show_n{
    
    height:30px;
}
    div.Get_info_person_ajax_1_show_n:hover {
        background-color: darkgray;
    }

/* Edit_personal_record*/
div.Edit_personal_record_info_load_ajax_div_str_1 {
margin-top:10px;
}

.Edit_personal_record_info_load_ajax_label_left {
    width: 115px;
}

#Edit_personal_record_info_load_ajax_main_div_id {
    width: 700px;
}
div.Edit_personal_record_info_load_ajax_osn_left_block {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    
    background-color:white;
}

div.Edit_personal_record_info_load_ajax_osn_right_block {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 300px;
    background-color: white;
    margin-left:20px;
    position:fixed;
}
div.Edit_personal_record_info_load_ajax_link_st{
    background-color:white;
}
div.Edit_personal_record_info_load_ajax_link_not_st{
    background-color:blue;
}

/*Wall_memes*/
div.Wall_memes_all_memes_wall{
    margin-top:10px;
}
div.Wall_memes_one_mem_img{
    height:400px;
}
ul.Wall_memes_main_ul li{
    padding-top:20px;
}



/*Groups_personal*/

div.Groups_personal_left_top_block {
    width: 500px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
}
div.Groups_personal_right_top_block {
    width: 200px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left:70px;
}
div.Groups_personal_one_group_block {
    height: 120px;
    margin-top:20px;
   
}
div.Groups_personal_one_group_img {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
div.Groups_personal_one_group_info {
    margin-left:50px;
    width: 330px;
    display: inline-block;
    vertical-align: top;
}div.Groups_personal_block_list_group {
    padding-top:10px;
    width:500px;
}

/*Group_record*/

div.Group_record_left_all_block {
    
    width:450px;
    
    display: inline-block;
    vertical-align: top;
}
div.Group_record_right_all_block {
    margin-left:40px;
    height: 500px;
    width: 300px;
    
    display: inline-block;
    vertical-align: top;
}
div.Group_record_head{
    height:500px;
    /*костыль что бы в самом верху не было схлапывания*/
    margin-top:-20px;


}
div.Group_record_wall_all{
    margin-top:30px;
}

/*Follow_ajax*/
.Follow_ajax_main_div{
    height:50px;
    background-color:aqua;
}
    .Follow_ajax_main_div:hover {
        background-color:antiquewhite;
    }


/*News*/

div.News_left_all {
    display:inline-block;
    vertical-align:top;
    width:600px;
}
div.News_top_block {
    height:150px;
    background-color:black;
}
div.News_right_all {
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-left: 45px;
    /* position: absolute;*/
    position: fixed;
}
div.News_add_block{
    margin-top:50px;
}