body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #DCDCDC ;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div {
    background-size: 100%;
}

div.Layout_all_block_left {
    
    /*transition :1s;*/
}.link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
}
.link_standart_for_circle_30_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    border-radius: 30px;
}
.link_standart_for_circle_50_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    border-radius: 50px;
}


img {
    width: 100%;
    height: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.text-box {
    line-height: 30px;
    height: 30px;
    font-size: 14pt;
    width: 100%;
}

div.for_separation {
}


div.div_color_white{
    background-color:white;
}


div.Memes_under_block_small {
    width: 115px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
div.Memes_under_block_small_true {
    width: 115px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    background-color: blueviolet;
    margin-left: 20px;
}
div.Memes_partial_under_all_block{
    height:45px;
}
/*div.memes_partial_options_mem {
    width: 30px;
    height: 30px;
    
         position: absolute;
        top:0px;
        float:right;
        font-size:20pt;
    
}*/
div.memes_partial_options_mem {
    font-size: 20pt;
}
    div .memes_partial_options_mem_all {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    float:right;
   
}
    div .memes_partial_options_mem:hover {
    cursor: pointer;
}
/*div.memes_partial_options_mem_open {
    margin-top: 15px;
    width: 50px;
    height: 30px;
    float: right;
    visibility:hidden;
background-color: black;
}div.memes_partial_options_mem:hover .memes_partial_options_mem_open {
        visibility: visible;
        background-color: green;
    }

*/
div.memes_partial_one_mem_block_left_name {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}div.memes_partial_one_mem_block {
    position: relative;
}
/*main_header*/
div.main_header {
    position: absolute;
    position: fixed;
    height: 50px;
    background-color: #4169E1;
    width: 100%;
    margin-top: -50px;
    z-index:100;
}
div.main_header_r_l {
    float: right;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
div.main_header_home {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    height:100%;
}
div.main_header_r_l_but {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height:100%;
}
div.main_header_r_l_but:hover{
    cursor:pointer;
    background-color:aliceblue;
}
div.main_header_search {
    width: 60px;
    height:100%;
    display: inline-block;
    vertical-align: top;
    border:solid black 2px;
}
/*Left_menu_personal*/
div.Left_menu_personal_up_block {
    padding-top: 150px;
    width: 120px;
    transition: 1s;
    position: fixed;
    height: 100%;
}
    div.Left_menu_personal_up_block:hover {
        
        background-color: #F0FFF0;
        cursor:pointer;
        
    }
        div.Left_menu_personal_up_block:hover div.Left_menu_personal_up_block_inscription {
            visibility:visible;
        }
        div.Left_menu_personal_up_block_inscription{
    visibility:hidden;
}
/*Layout*/
#Layout_Left_menu_personal_block {
    width: 200px;
    position: absolute;
}
div .Layout_left_menu {
    /*СЮДА*/
    /*
        width: 200px;
        position: absolute;


        top:100px;
        position: fixed;*/
}
div.Layout_left_menu_up {
    background-color: aqua;


}div.Layout_body {
    width: 800px;
    margin-left: 230px;
}
div.Layout_all_l_b {
    margin-left: 10%;
    margin-top: 10px;
    width:1100px;
}

/*Personal_record*/
div.Personal_record_one_group {
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 10px;
    height: 100px;
    
}
div.Personal_record_group_info_block {
    
    width: 270px;
    display: inline-block;
    vertical-align: top;
}
div.Personal_record_group_img_block {
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    
    /*убрать*/
    


    width: 60px;
    height: 60px;
}
 div.Personal_record_groups_block_all {
    margin-top: 30px;
}div.Personal_record_one_line_friend {
    margin-top: 10px;
}div.Personal_record_friend_all_block {
    margin-top: 30px;
    /*УБРАТЬ*/
    
}
div.Personal_record_one_friend_img {
    width: 100px;
    height: 100px;
    
    border-radius: 50px;
}
div.Personal_record_one_friend_block {
    width: 100px;
    height: 120px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
    
}div.Personal_record_main_img_div {
    width: 300px;
    height: 350px;
    background-color: aquamarine; /*убрать*/
}
div.Personal_record_main_img_lvl_1_div {
    width: 350px;
    height: 500px;
    background-color: white;
    padding-top: 25px;
    padding-left: 25px;
}

div.Personal_record_body_left_block {
    width: 350px;
    
    
    display: inline-block;
    vertical-align: top;
}
div.Personal_record_body_right_block {
    width: 430px;
    
    
    display: inline-block;
    vertical-align: top;
    margin-left:10px;
}
div.Personal_record_edit_under_main_img{
    background-color:white;
    border:solid 2px;
    margin-top:20px;
}
div.Personal_record_main_info_1{
    
}

div.Personal_record_body_right_block_info_main {
    background-color: white;
    margin-top:-20px;
}
div.Personal_record_photo_block{
    margin-top:30px;
    height:120px;
}
div.Personal_record_wall {
    margin-top: 30px;
    /*height: 300px;*/
    background-color: #DCDCDC;
}
div.Personal_record_num {
    height: 100px;
    margin-left:2px;
    text-align:center;
}
.Personal_record_num_div_small_block {
    display: inline-block;
    vertical-align: top;
    width: 82px;
    height: 50px;
    border: 1px solid black;
    position: relative;
    z-index: 2;
}
div.Personal_record_num_div_small_block_lvl_1 {
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}.Personal_record_num_p_big {
    font-size: 14pt;
    color: darkcyan;
    margin: 0;
    padding: 0;
}
.Personal_record_num_p_small {
    font-size: 9pt;
    color: #B8860B;
    margin: 0;
    padding: 0;
}
div.Personal_record_not_main_img_small{
    width:80px;
    height:100px;
    margin-left:2px;
    display:inline-block;
    vertical-align:top;
}
/*Get_info_person_ajax_1*/
div.Get_info_person_ajax_1_div_all {
    padding-left: 10px;
}
div.Get_info_person_ajax_1_div_1_info {
    min-height: 20px;
}
div.Get_info_person_ajax_1_p_left {
    color: grey;
    width: 120px;
    display: inline-flex;
    vertical-align: top;
}
div.Get_info_person_ajax_1_p_right {
    color: cornflowerblue;
    display: inline-flex;
    vertical-align: top;
    width: 300px;
}
div.Get_info_person_ajax_1_show_n{
    
    height:30px;
}
    div.Get_info_person_ajax_1_show_n:hover {
        background-color: darkgray;
    }

/* Edit_personal_record*/
div.Edit_personal_record_info_load_ajax_div_str_1 {
margin-top:10px;
}

.Edit_personal_record_info_load_ajax_label_left {
    width: 115px;
}

#Edit_personal_record_info_load_ajax_main_div_id {
    width: 700px;
}
div.Edit_personal_record_info_load_ajax_osn_left_block {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    min-height:300px;
    
    background-color:white;
}

div.Edit_personal_record_info_load_ajax_osn_right_block {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 300px;
    background-color: white;
    margin-left:20px;
    position:fixed;
}
div.Edit_personal_record_info_load_ajax_link_st{
    background-color:white;
}
div.Edit_personal_record_info_load_ajax_link_not_st{
    background-color:blue;
}

/*Wall_memes*/
div.Wall_memes_all_memes_wall{
    margin-top:10px;
}
div.Wall_memes_one_mem_img{
    height:400px;
}
ul.Wall_memes_main_ul li{
    padding-top:20px;
}



/*Groups_personal*/

div.Groups_personal_left_top_block {
    width: 500px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
}
div.Groups_personal_right_top_block {
    width: 200px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left:70px;
}
div.Groups_personal_one_group_block {
    height: 120px;
    margin-top:20px;
   
}
div.Groups_personal_one_group_img {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
div.Groups_personal_one_group_info {
    margin-left:50px;
    width: 330px;
    display: inline-block;
    vertical-align: top;
}div.Groups_personal_block_list_group {
    padding-top:10px;
    width:500px;
}

/*Group_record*/
div.Group_record_one_admin_block_info {
    display: inline-block;
    vertical-align: top;
    width: 235px;
    text-align: center;
    height: 60px;
}div.Group_record_one_admin_img_block {
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
}div.Group_record_one_admin_block {
     margin-top:10px;
}div.Group_record_admins_all_block {
    margin-top: 20px;
}div.Group_record_group_img_block {
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    /*убрать*/


    width: 60px;
    height: 60px;
}
div.Group_record_one_group_info {
    display: inline-block;
    vertical-align: top;
    width: 235px;
    text-align: center;
    height:60px;
}div.Group_record_one_group {
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 10px;
    height: 100px;
}
div.Group_record_groups_block {
    margin-top: 20px;
}div.Group_record_followers_block {
    margin-top: 20px;
}div.Group_record_one_friend_img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}
div.Group_record_one_line_friend {
    margin-top: 10px;
}
div.Group_record_one_friend_block {
    width: 95px;
    height: 120px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}
div.Group_record_not_main_img_small {
    width: 80px;
    height: 100px;
    margin-left: 2px;
    display: inline-block;
    vertical-align: top;
}
div.Group_record_photo_block {
    margin-top:30px;
}div.Group_record_left_all_block {
    width: 450px;
    display: inline-block;
    vertical-align: top;
}
div.Group_record_right_all_block {
    margin-left:40px;
    
    width: 300px;
    
    display: inline-block;
    vertical-align: top;
}
div.Group_record_head{
    height:500px;
    /*костыль что бы в самом верху не было схлапывания*/
    margin-top:-20px;


}
div.Group_record_wall_all{
    margin-top:30px;
}

/*Follow_ajax*/
.Follow_ajax_main_div{
    height:50px;
    background-color:aqua;
}
    .Follow_ajax_main_div:hover {
        background-color:antiquewhite;
    }


/*News*/

div.News_left_all {
    display:inline-block;
    vertical-align:top;
    width:600px;
}
div.News_top_block {
    height:150px;
    background-color:black;
}
div.News_right_all {
    min-height: 400px;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-left: 45px;
    /* position: absolute;*/
    position: fixed;
}
div.News_add_block{
    margin-top:50px;
}

/*Friends*/

div.Friends_left_all_block {
    display: inline-block;
    vertical-align: top;
    width:500px;
}
div.Friends_right_all_block {
    width: 200px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}
div.Friends_left_top_block{
    height:100px;
}

div.Friends_one_friend_block {
    
    height: 120px;
    margin-top: 15px;
    
}
div.Friends_one_friend_img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: top;
}
div.Friends_one_friend_info_all {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 100%;
}

/*Followers_group*/

div.Followers_group_left_all_block {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

div.Followers_group_right_all_block {
    width: 200px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}

div.Followers_group_left_top_block {
    height: 100px;
}

div.Followers_group_one_friend_block {
    height: 120px;
    margin-top: 15px;
}

div.Followers_group_one_friend_img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: top;
}

div.Followers_group_one_friend_info_all {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 100%;
}


/*Messages*/

div.Messages_left_block_all {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}
div.Messages_right_block_all {
    width: 200px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}
div.Messages_left_block_top{
    height:200px;
}
div.Messages_one_message_block{
    height:200px;
}

div.Messages_one_dialog_img{

}
div.Messages_one_message_text{

}

/*Messages_one_dialog*/

div.Messages_one_dialog_left_block_all {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}
div.Messages_one_dialog_right_block_all {
    width: 200px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    background-color:black;
}
div.Messages_one_dialog_left_block_top{
    height:50px;
    background-color:black;
}


div.Messages_one_dialog_img_one_friend {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
}
div.Messages_one_dialog_one_message_right {
    display: inline-block;
    vertical-align: top;
    width:430px;
}div.Messages_one_dialog_name_one_friend {
    height: 20px;
}
div.Messages_one_dialog_message_form {
    margin-top:50px;
    height: 200px;
    border: solid 2px black;
}
div.Messages_one_dialog_one_message_block_all{
    margin-top:5px;
}

.Messages_one_dialog_person_name_message {
    display: block; /* Ссылка как блочный элемент */
    text-align: left; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: blue; /* Цвет ссылки */
}


/*Albums*/
div.Albums_one_album_main_img_block{
    width:250px;
    height:170px;
    
}
div.Albums_one_album_block {
    padding: 10px;
    width: 260px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
}
div.Albums_one_album_name {
    margin-top: -30px;
    font-size: 16pt;
    font-weight: 800;
    color: white;
}
div.Album_photo_one_img_block_padding {
    padding: 10px;
    width: 260px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
}
div.Album_photo_one_img_block {
    width: 250px;
    height: 170px;
}
div.Albums_load_img_up_block {
    display: inline-block;
    vertical-align: top;
    width:300px;
}
div.Albums_load_img_name_album_up_block {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}
div.Albums_load_img_up_block_input {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}


/**/
div#Record_photo_page_one_photo_block_id {
    height: 10px;
    width: 10px;
    /*margin-top:-100px;*/
    margin-top: -200px;
    margin-left: -100px;
    
    position: relative;
    display: inline-block;
    vertical-align: top;
   
}
div.Record_photo_page_one_photo_block_inside {
    /*margin-left: 450px;*/
    top:400px;
    left:350px;
    position: absolute;
    width: 800px;
    height: 500px;
    border: solid black 2px;
    background-color: white;
}
div.Record_photo_page_one_photo_block_inside_lvl_exit {
    width: 4000px;
    height: 4000px;
    
    background: rgba(0, 0, 0, 0.3);
    
}
div.Record_photo_page_photo {
    width: 500px;
    height: 400px;
    
    display: inline-block;
    vertical-align: top;
}
div.Record_photo_page_prev_next_button :hover .link_standart_for_button_prev_next_photo {
    /*visibility: visible;*/
}
div.Record_photo_page_prev_next_button {
    height: 498px;
    width: 20px;
    font-size: 30pt;
    /*visibility:hidden;*/
    display: inline-block;
    vertical-align: top;
    /*background-color:blue;*/
    cursor: pointer;
    position: absolute;
}
.link_standart_for_button_prev_next_photo:hover {
    color: blue;
    /*visibility: visible;*/
}
.link_standart_for_button_prev_next_photo {
    text-decoration: none;
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
    /*visibility: hidden;*/
}
.link_standart_for_button_prev_next_photo:hover {
    text-decoration: none;
} div .Record_photo_page_next_sub {
        margin-left: -20px;
    }
div.Record_photo_page_right_info_block {
    width: 280px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}
div.Record_photo_page_action{
    display:inline-block;
    vertical-align:top;
    width:30%;
    margin-left:5px;
    background-color:black;
    height:20px;
}

/*Search_main*/
div.Search_main_load_ajax_osn_left_block {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    min-height: 300px;
    background-color: white;
}

div.Search_main_load_ajax_osn_right_block {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 300px;
    background-color: white;
    margin-left: 20px;
    position: fixed;
}

