@model Im.Models.Group_record

@{
    ViewBag.Title = "Edit_group_record";
}

<div id="Edit_group_record_info_load_ajax_main_div_id">
    @Html.Action("Edit_group_record_info_load_ajax", "Home", new {id=ViewBag.id })

</div>

