@model IEnumerable<Im.Models.Person_short>

@{
    ViewBag.Title = "Followers_group";
}


<div>
    <div class="Followers_group_left_all_block">
        <div class="Followers_group_left_top_block div_color_white">

            <p>подписоты: @((int)ViewBag.Count_followers) </p>
        </div>
        <div>


            @foreach (var i in Model)
            {


                <div class="Followers_group_one_friend_block div_color_white">


                    @if (i.Image != null)
                    {
                        <div class="Followers_group_one_friend_img" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(i.Image) );background-size: cover; ">
                            <a class="link_standart_for_circle_30_div" href='@Url.Action("Personal_record", "Home",new { id = i.Person_id } )'></a>
                        </div>
                    }
                    @if (i.Image == null)
                    {


                        <div class="Followers_group_one_friend_img" style="background: url('/Content/images/H98hxNY4xTo.jpg');background-size: cover;">
                            <a class="link_standart_for_circle_30_div" href='@Url.Action("Personal_record", "Home",new {id = i.Person_id } )'></a>
                        </div>
                    }

                    <div class="Followers_group_one_friend_info_all">
                        <p>@Html.ActionLink(i.Name, "Personal_record", "Home", new { id = i.Person_id }, new { @class = "link_standart_for_div" }) </p>
                    </div>
                </div>

            }

        </div>
    </div>

    <div class="Followers_group_right_all_block div_color_white">


    </div>



</div>

