
@{ 
    List<string> list = null;
    if (!string.IsNullOrEmpty(ViewBag.list_str))
    {
        list = ((string)ViewBag.list_str).Split(',').ToList();
    }

}

<script>
    var t;
    
    /*
    $(window).load(function () {
        var window_height = $(window).height();
        var up_1 = document.getElementById("Layout_left_menu_id");
        up_1.height = window_height;
            
    });*/
    function up() {
        var top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        if (top > 0) {
            window.scrollBy(0, -100);
            t = setTimeout('up()', 20);
        } else clearTimeout(t);
        return false;
    }



    

    $(function () {
        $(window).scroll(function () {
            
            //var b = $("#Layout_left_menu_id");
            var b = document.getElementById("Layout_left_menu_id");
            //b.style.top = parseInt(100) + 20 + 'px';
            var c = b.getBoundingClientRect();
            //alert(document.body.scrollTop);
            if (c.bottom < 0) {
                //alert("выше");
                //var g = document.body.scrollTop;
               
                //alert(c.bottom);
                var str = pageYOffset - b.offsetHeight-60;//- b.offsetHeight  offsetWidth
                //alert(str);
                b.style.top = parseInt(str) + 'px';
                //b.top = str;
                //alert(b.style.top);

            }
            if (c.top > 50) {
                var str= pageYOffset;
                b.style.top = str + 'px';
            }
            
        });
    });



</script>
@if (list!=null)
{
    <div class="Layout_left_menu"id="Layout_left_menu_id">
        <div class="Layout_left_menu_up">
            <ul>
                @for (int i = 0; i < list.Count; ++i)
                {
                    if (!string.IsNullOrEmpty(list[i]))
                    {
                        <li>
                            @Html.ActionLink(list[i], list[++i], new { id = ViewBag.id }, new { })
                        </li>
                    }
                }

            </ul>
            <hr>
            @Html.ActionLink("Редактировать", "Edit_personal_record", "Home", new { }, new { })
            @{
//@Html.ActionLink("Создать группу", "Add_new_group", "Home", new { }, new { })

            }
        </div>
        
    </div>
    
            }

