@model Im.Models.Img




    @if (Model != null)
    {
        <div class="Record_photo_page_one_photo_block_inside_lvl_exit">
            <div class="Record_photo_page_one_photo_block_inside">
                <div class="Record_photo_page_prev_next_button">
                    @Ajax.ActionLink("<", "Record_photo_page", "Home", new { id_image = ViewBag.Preview_img_id }, new AjaxOptions { UpdateTargetId = "Record_photo_page_one_photo_block_id" }, new { @class = "link_standart_for_button_prev_next_photo" })


                    
                </div>
                <div class="Record_photo_page_photo" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(Model.bytes) );background-size: cover; ">

                </div>
                <div class="Record_photo_page_prev_next_button Record_photo_page_next_sub">
@Ajax.ActionLink(">", "Record_photo_page", "Home", new { id_image = ViewBag.Next_img_id }, new AjaxOptions { UpdateTargetId = "Record_photo_page_one_photo_block_id" }, new { @class = "link_standart_for_button_prev_next_photo" })

                </div>
                <div class="Record_photo_page_right_info_block">
                    <div>@Html.DropDownList("",new SelectList(ViewBag.Albums), "Изменить альбом")
                    </div>
                    <div><div class="Record_photo_page_action"></div>
                    <div  class="Record_photo_page_action"></div>
                    <div  class="Record_photo_page_action"></div></div>
                    <div></div>
                </div>
            </div>
        </div>
        
    }






