@model Im.Models.Img



<div id="Record_photo_page_one_photo_block_id">
    @if (Model != null)
    {
        <div class="Record_photo_page_one_photo_block_inside_lvl_exit">
            <div class="Record_photo_page_one_photo_block_inside">
                <div class="Record_photo_page_prev_next_button">
                    <
                </div>
                <div class="Record_photo_page_photo">

                </div>
                <div class="Record_photo_page_prev_next_button">
>
                </div>
                <div class="Record_photo_page_right_info_block">

                </div>
            </div>
        </div>
        
    }
</div>





