@model IEnumerable<Im.Models.Memes_record>

<ul class="Wall_memes_main_ul">
    @if (ViewBag.Count == 0)
            {
        <li>
            <div class="div_color_white">
                <p>Нет записей</p>
            </div>
        </li>
    }
    @foreach (var i in Model)
    {
        <li>
            <div class="div_color_white">
                <p>@i.db.Description</p>
                @if (i.db.Image != null)
                {
                    <div class="Wall_memes_one_mem_img">
                        @Html.Raw(string.Concat("<img class='' id='' ", " src=\"data:image/jpeg;base64,"
                                                                     , Convert.ToBase64String(i.db.Image), "\" />"))
                    </div>
                }


                @if (i.Images != null)
                {
                    foreach (var i2 in i.Images)
                    {
                        Html.Raw(string.Concat("<img  class=''  id =''", " src=\"data:image/jpeg;base64,"
   , Convert.ToBase64String(i.db.Image), "\" />"));
                    }
                }
                <hr />
                <div>
                    <div class="Memes_under_block_small">Лайков: @(i.db.Liked_id.Count() - 1)</div>
                    <div class="Memes_under_block_small">Репостов:@(i.db.Repost_id.Count() - 1)</div>
                    <div class="Memes_under_block_small">Репостнуть</div>
                </div>
            </div>
        </li>
    }
</ul>
<div id="Wall_memes_all_memes_wall_id_for_replace"></div>
