@model IEnumerable<string>
@section scripts
    {
    @{
/*@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")*/
    }
}
@if (ViewBag.Count == 0)
            {
    
        <div class="div_color_white">
            <p>Нет записей</p>
        </div>
   
}
@if(Model.Count()>0)
{ 
<ul class="Wall_memes_main_ul">

    
    @foreach (var i in Model)
    {
        if (!string.IsNullOrEmpty(i))
        {
    <li>
        <div id=@string.Concat("Wall_memes_mem_block_id_",i)>
            @Html.Action("Memes_partial", "Home", new { from = ViewBag.from, id_mem = i })
        </div>
    </li>}

    }
</ul>
}
